<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Add New Stylist
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <form action="/stylists/new" method="post">
                    <div class="form-group">
                        <label for="stylist-name">Add New Stylist:</label>
                        <input type="text" name="stylist-name" id="stylist-name" class="form-control">
                        <button type="submit">Add Stylist</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordian" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Add New Client
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <form action="/clients/new" method="post">
                    <div class="form-group">
                        <label for="client-name">Name:</label>
                        <input type="text" name="client-name" id="client-name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="client-stylist">Stylist:</label>
                        <select name="client-stylist" id="client-stylist" class="form-control">
                            @foreach (var stylist in @Model)
                            {
                                <option value="@stylist.GetStylistId()">@stylist.GetStylistName()</option>
                            }
                        </select>
                    </div>
                    <button type="submit" name="button">Add Client</button>
                </form>
            </div>
        </div>
    </div>
</div>
