@{
    Layout="Shared/_Layout.cshtml";
}

<h1>@Model["client"].GetClientName()</h1>
<h2>Client of @Model["stylist"].GetStylistName()</h2>

<p><a href="/clients/@Model["client"].GetClientId()/edit">Edit @Model["client"].GetClientName()</a></p>
<p><a href="/stylists/@Model["stylist"].GetStylistId()">Back to @Model["stylist"].GetStylistName()</a></p>
<p><a href="/">All Stylists</a></p>
