@{
    Layout="Shared/_Layout.cshtml";
}

<h1>Our Stylists</h1>
<ul>
    @foreach (var stylist in @Model)
    {
        <li><a href="/stylists/@stylist.GetStylistId()">@stylist.GetStylistName()</a></li>
    }
</ul>

<form action="/stylist/new" method="post">
    <label for="stylist-name">Add New Stylist:</label>
    <input type="text" name="stylist-name" id="stylist-name">
    <button type="submit">Add</button>
</form>
