@{
    Layout="Shared/_Layout.cshtml";
}

<h1>@Model.GetStylistName()</h1>
<ul>
    @foreach (var client in @Model.GetClients())
    {
        <li><a href="/clients/@client.GetClientId()">@client.GetClientName()</a></li>
    }
</ul>

<p><a href="/">All Stylists</a></p>
