html {
    min-height: 100%;
    position: relative;
}

body{
    background-color: #575c63;
    height: 100%;
}

#left h1 {
    font-family: 'Unica One', cursive;
    text-align: center;
    font-size: 65px;
    padding: 0;
    text-transform: lowercase;
    background-image: url("../img/redfork.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    padding-top: 26%;
    margin-top: 3vh;
}

.col-md-4 {
    padding: 0;
    text-align: center;
}

.col-md-4 img {
    width: 80%;
}

#right {
    height:50vh;
    padding-right: 40px;
    margin-top: 5%;
}

#cuisine-list {
    margin-left: 20px;
    font-size: 36px;
}

.als-container {
    position: relative;
    width: 100%;
    z-index: 0;
}

.als-viewport {
    position: relative;
    overflow: hidden;
}

.als-item {
    position: relative;
    display: block;
    cursor: pointer;
    float: left;
    width: 100%
}

.als-prev, .als-next {
    display: inline-block;
    cursor: pointer;
    clear: both;
    position: absolute;
    z-index: 1000;
}

.als-prev {
    margin-bottom: 80px;
}

#demo3 .als-item {
    margin: 0px 5px;
    padding: 4px 0px;
    min-height: 20%;
    min-width: 260px;
    font-size: 24px;
}

#demo3 .als-prev {
    right: 20px;
    top: -50px;
}

#demo3 .als-next {
    right: 20px;
}

.container {
    width: 50%;
    max-width: 900px;
    background-color: #fff;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    /*overflow:hidden;*/
    z-index:-1;
    padding: 0;
}

.form-control input {
    width: 75%;
}

ul {
    width: 500px;
}

.als-viewport div {
    width: 500px;
}

.panel {
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0);
    box-shadow: 0 0px 0px rgb(0,0,0);
}

.panel, .panel-group .panel {
    border-radius: 0px;
}

.panel-heading, .panel-footer {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
